
*{
    /* border: 1px solid #ddd; */
  }
  body {
    font-family: arial;
  }
  body, ul{
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
  .clearfix:after{
    content: '';
    display: block;
    clear: both;
  }

  nav{
    line-height: 70px;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  nav:after{
    content: '';
    display: block;
    clear: both;
  }
  nav>span {
    font-size: 1.5em;
    margin-left: 5%;
  }
  nav>span>a {
    color: #fec503;
  }
  nav>ul{
    float: right;
    margin-right: 5%;
  }
  nav>ul:after{
    content: '';
    display: block;
    clear: both;
  }
  nav>ul>li{
    float: left;
    margin-left: 20px;
  }
  nav>ul>li>a{
    color: #fff;
  }
  nav>ul>li>a:hover {
    color: #fec503;
  }
  #welcome{
    background-position: center;
    padding: 300px 0 200px 0;
    text-align: center;
  }
  #welcome>h2{
    font-size: 40px;
    color: #fff;
  }
  #welcome>h1{
    font-size: 75px;
    color: #fff;
  }
  #welcome>a {
    font-size: 18px;
    color: white;
    font-weight: bold;
    background: #fed136;
    padding: 20px 40px;
    border-radius: 3px;
  }
  #welcome>a:hover {
    background: #fec503;
  }
  #service{
    text-align: center;
    padding: 150px 0;
  }
  #service>h2{
    font-size: 40px;
  }
  #service>p{
    font-size: 16px;
    color: #777;
  }
  #service>ul{
    margin: 80px auto 0 auto;
    width: 1200px;
  }
  #service>ul>li{
    width: 360px;
    float: left;
    margin: 0 19px;
  }
  #service>ul>li>p{
    color: #777;
    text-align: justify;
  }
  #service>ul>li>div{
    font-family: 'iconfont';
    font-size: 50px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    line-height: 100px;
    margin: 0 auto;
    color: #fff;
    background: #fed136;
  }
  #portfolio{
    text-align: center;
    background: #f7f7f7;
    padding: 120px 0 150px 0;
  }
  #portfolio>h2{
    font-size: 40px;
  }
  #portfolio>p {
    font-size: 16px;
    color: #777;
  }
  #portfolio>ul{
    margin: 50px auto 0 auto;
    width: 1180px;
  }
  #portfolio>ul>li{
    width: 360px;
    float: left;
    margin: 30px 15px 0 15px;
    background: #fff;
  }

  #portfolio a:hover {
    border-bottom: 5px solid #CCFF66;
  }
  #portfolio>ul>li>a>img{
    width: 360px;
    height: 260px;
    background: rgba(254, 209, 54, .9);
  }

 
  #portfolio>ul>li>h3 {
    font-size: 18px;
    margin: 25px 0 0 0;
  }
  #portfolio>ul>li>p {
    font-size: 16px;
    color: #777;
    margin: 0 0 25px 0;
    font-style: italic;
  }


  #about {
    padding: 120px 0 150px 0;
    text-align: center;
  }
  #about>h2{
    font-size: 40px;
  }
  #about>p {
    font-size: 16px;
    color: #777;
  }
  #about>ul {
    position: relative;
  }
  #about>ul:before {
    z-index: -1;
    position: absolute;
    top: 120px;
    left: 49%;
    display: inline-block;
    content: '';
    width: 2px;
    background: #f1f1f1;
    height: 1000px;
  }
  #about>ul>li {
    margin-top: 100px;
    text-align: right; 
    margin-left: 10%;  
    width: 45%;
  }
  #about>ul>li:nth-child(even) {
    text-align: left; 
    margin-left: 43%;  
  }
  #about>ul>li>h3{
    margin: 10px 180px 10px 0;  
  }
  #about>ul>li:nth-child(even)>h3{
    margin: 10px 0 10px 180px;  
  }
  #about>ul>li>p {
    margin-right: 180px;  
    font-size: 16px;
    color: #777;
  }
  #about>ul>li:nth-child(even)>p {
    margin-right: 0;
    margin-left: 180px;  
  }
  #about>ul>li>img,
  #about>ul>li>span {
    float: right; 
    width: 156px;
    height: 156px;
    border-radius: 78px;
    border: 7px solid #f1f1f1;
    box-sizing: border-box;
  }
  #about>ul>li>span {
    text-align: center;
    background: #fed136;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 40px 30px;
  }
  #about>ul>li:nth-child(even)>img {
    float: left;
  }
  #team{
    text-align: center;
    background: #f7f7f7;
    padding: 120px 0 130px 0;
    margin: 0 auto;
  }
  #team>h2{
    font-size: 40px;
    margin: 30px 0;
  }
  #team>p{
    font-size: 16px;
    color: #777;
    width: 750px;
    margin: 0 auto;
  }
  #team>p:last-child {
    margin-top: 50px;
  }
  #team>ul {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
  #team>ul>li {
    width: 240px;
    float: left;
    margin: 0 79px;
  }
  #team>ul>li>img {
    border-radius: 50%;
    border: 7px solid #fff;
    box-sizing: border-box;
  }
  #team>ul>li>h3 {
    margin: 20px 0 5px 0;
  }
  .author{
    color: #777;
  }
  .sign {
    margin: 15px 0;
    font-family: 'iconfont';
  }
  .sign>span {
    text-align: center;
    background: #000;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .sign>span:hover {
    background: #fed136;
  }
  #clients {
    height: 150px;
    line-height: 150px;
    width: 1200px;
    margin: 0 auto;
  }
  #clients>img {
    vertical-align: middle;
    margin: 0 47px;
    cursor: pointer;
  }
  #picture {
    text-align: center;
    font-size: 30px;
    padding: 50px 0;
}
  .picture-wrap {
    padding: 50px 0;
}

#picture .cover {
    position: absolute;
    z-index: 2;
    background: #FED135;
    left: -50%;
    top:-50%;
    height: 200%;
    width: 400px;
    opacity: 0;
    transition: all 0.3s;
}

#picture .cover>img{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translateX(-50%);
    height: 160px;
    width:160px;
}
#picture .load{
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 25px;
    background-color: #FED135;
    color: #F7F7F7;
    transition: all 0.2s;
}

#picture .load:hover{
    background-color: #F7F7F7;
    color:#FED135;
}

  .container {
    width: 1140px;
    min-width: 1140px;
    margin: 0 auto;
}
  .items h3 {
    font-size: 40px;
    margin: 30px 0;
  }

  .items p {
    font-size: 16px;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    color: #777;
  }

 
  #contact {
    text-align: center;
    padding: 130px 0 150px 0;
    background-color: #222;
    background-image: url(../../imgs/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  #contact>h2 {
    font-size: 40px;
    margin: 20px 0;
    color: #fff;
  }
  #contact>p {
    color: #777;
    font-style: italic;
    font-size: 16px;
  }
  #contact>form {
    width: 1130px;
    margin: 50px auto 0 auto;
  }
  #contact>form>input[type="text"] {
    display: block;
    width: 550px;
    height: 60px;
    border-radius: 3px;
    margin: 20px 0;
    border: none;
    box-sizing: border-box;
    padding: 20px;
  }
  ::-webkit-input-placeholder{
    font-size: 14px;
    font-weight: bold;
    color: #999;
  }
  #contact>form>textarea {
    float: right;
    height: 220px;
    width: 550px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 20px;
  }
  #contact>form>input[type="submit"] {
    background: #fed136;
    color: #fff;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
  }
  #contact>form>input[type="submit"]:hover {
    cursor: pointer;
    background: #fec503;
  }
  #copyright {
    height: 100px;
    box-sizing: border-box;
    line-height: 100px;
    width: 1130px;
    margin: 0 auto;
  }
  #copyright>span {
    margin: 0 88px;
  }
  #copyright>span>a {
    color: #fed136;
  }